<form [formGroup]="meuForm">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" formControlName="email" aria-describedby="emailHelp" placeholder="Enter email">
    <error-field-messages [field]="meuForm.controls.email.value" nome="'email'"></error-field-messages>
  </div>


  <div class="card">
    <p>Value:   {{meuForm.controls.email.value}}</p>
    <p>Status:   {{meuForm.controls.email.status}}</p>
    <p>Touched:   {{meuForm.controls.email.touched}}</p>
    <p>Pristine:   {{meuForm.controls.email.pristine}}</p>
    <p>Erros:   {{meuForm.controls.email.errors | json}}</p>
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" formControlName="password" placeholder="Password">
    <error-field-messages [field]="meuForm.controls.password.value"></error-field-messages>
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>

  <div class="form-row">
    <div class="form-group col-md-4">
      <label>CEP</label>
      <input type="text" (blur)="onBuscarCep()" formControlName="cep" class="form-control" placeholder="CEP" >
    </div>
    <div class="form-group col-md-4">
      <label>Logradouro</label>
      <input type="text" class="form-control" formControlName="logradouro" placeholder="Logradouro" readonly>
    </div>
    <div class="form-group col-md-4">
      <label>Bairro</label>
      <input type="text" class="form-control" formControlName="bairro" placeholder="Bairro" readonly>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Cidade</label>
      <input type="text" class="form-control" formControlName="localidade" placeholder="Cidade" readonly >
    </div>
    <div class="form-group col-md-6">
      <label>Estado</label>
      <input type="text" class="form-control" formControlName="uf" placeholder="Estado" readonly >
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Envia bebê</button>
</form>
