<div class="row lg-12 float-right mt-3 mb-3">
  <button class="btn btn-success" routerLink="/categorias/categorias-form">Nova Categoria</button>
</div>

  <table class="table">
    <tr>
      <th>ID</th>
      <th>Categorias</th>
      <th>Descrição</th>
      <th>Status</th>
      <th>Ações</th>

    </tr>
    <tr *ngFor="let c of categorias?.data">
      <td>{{ c.id }}</td>
      <td>{{ c.name }}</td>
      <td>{{ c.description }}</td>
      <td>{{ c.status }}</td>
      <td class="btn-group">
        <button class="btn btn-info mr-1" [routerLink]="['/categorias-form', c.id]">Editar</button>
        <button class="btn btn-danger" (click)="onDelete( c.id )">Deletar</button>
      </td>
    </tr>
  </table>
